a.close {width: 23px;height: 23px;display: block;position: absolute;top: 0;right: 0;cursor: pointer;z-index: 100;color: #333;text-decoration: none;}

/*-------------------------------------------
Left col overlay
-------------------------------------------*/

#leftColOverlay { display: block; //position: absolute; z-index: 1101; //width: 225px; //height: 500px; top: 51px; left: -227px; background: #fff; overflow: hidden; -moz-border-radius: 0 8px 0 0; -webkit-border-radius: 0 8px 0 0; border-radius: 0 8px 0 0; box-shadow: 1px 0 2px rgba(50, 50, 50, 0.9); -moz-box-shadow: 1px 0 2px rgba(50, 50, 50, 0.9); -webkit-box-shadow: 1px 0 2px rgba(50, 50, 50, 0.9); }
#leftColOverlay a.close { width: 23px; height: 23px; background: url('https://cdn.flightradar24.com/images/userUI_sprite.png?14') 0 -104px no-repeat; display: block; position: absolute; top: 0; left: 200; cursor: pointer; z-index: 100; }
#leftColOverlay span.loader { background: url('https://cdn.flightradar24.com/images/loader_info.gif'); display: block; width: 32px; height: 32px; margin: 90px 97px 0 97px; }
#leftColOverlay span.loader.error { background: url('https://cdn.flightradar24.com/images/loader_error.png') no-repeat; }
#leftColOverlay span.errorMsg { color: #bbb; display: block; text-align: center; font-size: 0.95em; padding: 15px; }
#leftColOverlay .aircraftImage { position: relative; margin: 7px 7px 2px 7px; }
#leftColOverlay .imageOwner { position: absolute; bottom: 0; width: 204px; padding: 2px 3px; color: #f0f0f0; font-size: 0.8em; text-align: left; text-shadow: 0 1px 0 #000;}
#leftColOverlay .imageOwner a { display: inline-block; font-weight: bold; float: right; color: inherit; text-shadow: inherit; }
#leftColOverlay .imageOwner a i { font-size: 1.8em; font-weight: bold; margin-top: -6px; margin-right: 4px; }
#leftColOverlay .aircraftImage a { cursor: pointer; }
#leftColOverlay .aircraftImage img { width: 210px; vertical-align: bottom; min-height: 130px; display: block; }
#leftColOverlay .aircraftImage img.sideView { min-height: 94px; }
#leftColOverlay .aircraftImage .sideview-mag {position: absolute;border-radius: 3px;width: 18px;height: 18px;font-size: 16px;padding: 1px 0 0 2px;box-sizing: border-box;right: 4px;bottom: 4px;color: #fff;cursor: pointer;}

#leftColOverlay .titleBox { background: #000; margin: 2px 7px 7px 7px; border: 1px solid #000; padding: 2px 6px; color: #fff; font-size: 0.9em; text-shadow: 0 1px 0 #000; position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	background: #808080; /* Old browsers */
	background: -moz-linear-gradient(top,  #808080 0%, #303030 2%, #0c0c0c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#808080), color-stop(2%,#303030), color-stop(100%,#0c0c0c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #808080 0%,#303030 2%,#0c0c0c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #808080 0%,#303030 2%,#0c0c0c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #808080 0%,#303030 2%,#0c0c0c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #808080 0%,#303030 2%,#0c0c0c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#0c0c0c',GradientType=0 ); /* IE6-9 */
}
#leftColOverlay .titleBox span.large { font-size: 1.6em; font-weight: bold; }
#leftColOverlay .titleBox a.flightLink { color: #fff; cursor: pointer; }
#leftColOverlay .routeInformationBox { border-top: 1px solid #005c90; border-bottom: 1px solid #005c90; margin-top: -29px; color: #fff; padding-bottom: 5px;
	box-shadow: 0 0 1px #9BE3F6 inset, 0 1px 0 #9BE3F6 inset, 0 -1px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 1px #9BE3F6 inset, 0 1px 0 #9BE3F6 inset, 0 -1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 1px #9BE3F6 inset, 0 1px 0 #9BE3F6 inset, 0 -1px 3px rgba(0,0,0,0.4);
	background: rgb(92,184,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(92,184,229,1) 0%, rgba(43,114,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,184,229,1)), color-stop(100%,rgba(43,114,173,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(92,184,229,1) 0%,rgba(43,114,173,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(92,184,229,1) 0%,rgba(43,114,173,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(92,184,229,1) 0%,rgba(43,114,173,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(92,184,229,1) 0%,rgba(43,114,173,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb8e5', endColorstr='#2b72ad',GradientType=0 ); /* IE6-9 */
}
#leftColOverlay .routeInformationBox .airportInfo { margin: 25px 0 0 0; font-size: 0.95em; text-shadow: 0 1px 0 #003958; position: relative;}
#leftColOverlay .routeInformationBox .airportInfo .airport { cursor: pointer; }
#leftColOverlay .routeInformationBox .airport { width: 48%; text-align: center; padding: 0 2px; }
#leftColOverlay .routeInformationBox .airportInfo .airport h3 { font-size: 1.95em; line-height: 1.1em; text-shadow: 0 1px 0 #6fc9ff, 0 2px 0 #1F77AC, 0 2px 1px #000; }
#leftColOverlay .routeInformationBox .airportInfo span.arrow { width: 45px; height: 16px; display: block; position: absolute; top: 7px; left: 88px; border: none;
	background: url('https://cdn.flightradar24.com/images/userUI_sprite.png?14') 0 -464px no-repeat;
}
#leftColOverlay .routeInformationBox .airportInfo span.fa-random { background: none; font-size: 20px; color: #fff; text-align: center; -webkit-animation: animateIcon 2s linear 0s infinite alternate; animation: animateIcon 2s linear 0s infinite alternate; cursor: pointer; }
@-webkit-keyframes animateIcon { 0%   { color: #fff; } 25%  { color: #C0E8FF; } 50%  { color: #83AEC6; } 75%  { color: #C0E8FF; } 100% { color: #fff; } }
@keyframes animateIcon { 0%   { color: #fff; } 25%  { color: #C0E8FF; } 50%  { color: #83AEC6; } 75%  { color: #C0E8FF; } 100% { color: #fff; } }
#leftColOverlay .routeInformationBox .progressBar { background: #33699E; width: 211px; height: 8px; margin: 5px 7px 0 7px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 2px 5px #0F396D inset, 0 1px 0 #5092c0;
	-moz-box-shadow: 0 2px 5px #0F396D inset, 0 1px 0 #5092c0;
	-webkit-box-shadow: 0 2px 5px #0F396D inset, 0 1px 0 #5092c0;
}
#leftColOverlay .routeInformationBox .progressBar .progress { width: 40%; height: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 1px 0 #0060ab;
	-moz-box-shadow: 0 1px 0 #0060ab;
	-webkit-box-shadow: 0 1px 0 #0060ab;
	background: #ecf6fc; /* Old browsers */
	background: -moz-linear-gradient(top,  #ecf6fc 0%, #b3d7f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf6fc), color-stop(100%,#b3d7f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ecf6fc 0%,#b3d7f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ecf6fc 0%,#b3d7f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ecf6fc 0%,#b3d7f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ecf6fc 0%,#b3d7f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf6fc', endColorstr='#b3d7f2',GradientType=0 ); /* IE6-9 */
}
#leftColOverlay .routeInformationBox .statusInfo { margin: 5px 0 0 0; font-size: 0.9em; text-shadow: 0 1px 0 #253b4b; }
#leftColOverlay .routeInformationBox .statusInfo #atdWrapper { font-size: 1.1em; }
#leftColOverlay .routeInformationBox .statusInfo #etaWrapper { font-size: 1.1em; }
#leftColOverlay .routeInformationBox .statusInfo #atdVal { font-weight: bold; }
#leftColOverlay .routeInformationBox .statusInfo #etaVal { font-weight: bold; }
#leftColOverlay .routeInformationBox .statusInfo span.small { font-size: 0.8em; }
#leftColOverlay .routeInformationBox .statusInfo span.blue { color: #c1eaff; }
#leftColOverlay table.aircraftInfoGrid { width: 100%; border-collapse: collapse; }
#leftColOverlay table.aircraftInfoGrid td { padding: 3px 6px; vertical-align: top; line-height: 1.1em; color: #666; border-left: 1px solid #dadada; border-bottom: 1px solid #dadada; }
#leftColOverlay table.aircraftInfoGrid tr.first td { padding-top: 5px; }
#leftColOverlay table.aircraftInfoGrid td span.strong { color: #333; font-weight: bold; font-size: 1.1em; line-height: 1.3em; }
#leftColOverlay table.aircraftInfoGrid tr td.iconContainer { width: 31px; background: #dadada; padding: 0; }
#leftColOverlay table.aircraftInfoGrid tr td.iconContainer span.icon { display: block; background: url('https://cdn.flightradar24.com/images/userUI_sprite.png?14') -208px -464px no-repeat; }
#leftColOverlay table.aircraftInfoGrid tr td.iconContainer span.icon.aircraft { width: 23px; height: 26px; background-position: -208px -464px; margin: 8px 0 0 4px; }
#leftColOverlay table.aircraftInfoGrid tr td.iconContainer span.icon.cloud { width: 24px; height: 17px; background-position: -178px -464px; margin: 3px 0 0 4px; }
#leftColOverlay table.aircraftInfoGrid tr td.iconContainer span.icon.satellite { width: 20px; height: 27px; background-position: -153px -464px; margin: 1px 0 0 6px; }
#leftColOverlay .regLink { cursor: pointer; }

#ffs_map {height: 100%;}

.gmnoprint img { max-width: none; }

#map-canvas *, #map-canvas *:before, #map-canvas *:after {
	-moz-box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important;
	box-sizing: content-box!important;  
}
#map-canvas img {
	max-width: none;
}
#map-canvas label {
	width: auto;
	display: inline;
}

#airport_map {
	position: absolute;
	display: none;
	z-index: 9;
	top: 0px;
	right: 0px;
	background: rgba(0,0, 0, 0.7);
	border: 3px solid #84d484;
	max-width: 20%;
	max-height: 50%;
	resize: both;
	overflow: auto;
}

#airport_map_header {
	padding: 5px;
	cursor: move;
	z-index: 10;
	background-color: #84d484;;
	color: black;
}
#aircraft_map {
	position: absolute;
	display: none;
	z-index: 9;
	top: 0px;
	right: 0px;
	background: rgba(0,0, 0, 0.7);
	border: 3px solid #84d484;
	max-width: 20%;
	//width: 350px
	//height:500px;
	max-height: 50%;
	resize: both;
	overflow: auto;
}

#aircraft_map_header {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #84d484;;
	color: black;
}

#mydiv {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	text-align: center;
	resize: both;
	overflow: auto;
}


#mydivheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
}

#left_map{position: absolute;z-index: 9;top: 0px;right: 0px;background: rgba(0,0, 0, 0.7);border: 3px solid #84d484;//max-width: 20%;width: 150px;//height:500px;//max-height: 50%;resize: both;overflow: auto;}
#left_map_header{ padding: 5px; cursor: move; z-index: 10; background-color: #84d484;; color: black;}";